.
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.cover
{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
    
           
}
.container1
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container1::-webkit-scrollbar
{
    width: 0;
}
.container1 .card1
{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg,#080808,#4a4a4b);
    

}
.container1 .card1 img
{
    position: absolute;
    bottom: 0;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;

}
.container1 .card1:hover img
{
    left: 75%;
    height: 400px;
}
.container1 .card1 .content1
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;



}
.container1 .card1:hover .content1
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.container1 .card1 .content1 h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;

}
.container1 .card1 .content1 p
{
    color: #fff;

}
.container1 .card1 .content1 a
{
    position: relative;
    color: #111;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

.container1
{
    max-height: 120px;
    border: 1px solid #fff;
}

 